In [15]:
num_list = [3, 5, 23, 64, 9]

In [16]:
max(num_list)

64

In [17]:
max()

TypeError: max expected at least 1 argument, got 0

In [26]:
def max_sq(my_list):
    return max(my_list) ** 2

In [29]:
max_sq(num_list)

4096

In [27]:
my_number = max_sq(num_list)

In [28]:
my_number

4096

In [35]:
def max_cube(my_list):
    print(max(my_list) ** 3)
    return max(my_list) ** 3, 'cube'

In [36]:
max_cube(num_list)

262144

(262144, 'cube')

In [40]:
my_output = max_cube(num_list)

262144

In [41]:
my_output

(262144, 'cube')

In [38]:
number, word = max_cube(num_list)

262144

In [39]:
word

'cube'

In [42]:
def list_comparer(list_a, list_b):
    if max(list_a) > max(list_b):
        print(f'{list_a} is the grand champion!!!')
    else:
        print(f'{list_b} rules the galaxy!')

In [43]:
num_list

[3, 5, 23, 64, 9]

In [45]:
super_num_list = [12, 33, 21, 54, 420, 4]

In [46]:
list_comparer(num_list, super_num_list)

[12, 33, 21, 54, 420, 4] rules the galaxy!

In [47]:
list_comparer(list_a = super_num_list, list_b = num_list)

[12, 33, 21, 54, 420, 4] is the grand champion!!!

In [61]:
#Convert between inches and centimeters

def converter(meas, metric=1):
    if metric:
        num_inches = meas / 2.54
        return num_inches
    else:
        num_cms = meas * 2.54
        return num_cms

In [62]:
converter(120, metric=True)

47.24409448818898

In [63]:
converter(120)

47.24409448818898

In [64]:
converter(47, metric=False)

119.38

In [65]:
num_list

[3, 5, 23, 64, 9]

In [66]:
def min_finder(my_list):
    return min(num_list)

In [67]:
dummy_list = [2, 2, 2, 4, 7]

In [76]:
min_finder(dummy_list)

2

In [69]:
def min_finder(my_list):
    return min(my_list)

In [75]:
def min_finder(my_list):
    x = min(my_list)
    return x

In [77]:
x = min_finder(dummy_list)

In [78]:
x

2