In [ ]:
#Good to remember keyboard shortcuts

# Enter - Creates a new line within the cell
# Shift + Enter - Runs the current cell
# Ctrl + S - Saves
# Esc + A - Inserts cell above current
# Esc + B - Inserts cell below current
# Esc + X - Cuts selected cell

In [ ]:
#Demo of type function

In [8]:
type(123)

int

In [9]:
type('hello')

str

In [4]:
type(True) #Or type(False)

bool

In [7]:
type(1.23)

float

In [ ]:
#Assigning a variable

In [10]:
favorite_number = 412
n = favorite_number + 5

In [12]:
#Printing the variable
print(favorite_number)

412

In [13]:
#Can use tab to autocomplete 
type(favorite_number)

int

In [14]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [17]:
#Boolean Values
#True (with a caplital T)
#False (with a capital F)

#Checking equality
True == True

True

In [18]:
#Does True equal False?

True == False

False

In [19]:
#Checking Inequality

True != True

False

In [20]:
#Is True not equal to False

True != False

True

In [21]:
#not operator
#Takes the opposite boolean value

not False

True

In [24]:
#Apparently True
not not not not not not not not not not not not not not True

True

In [25]:
#and operator
#Equals True when both statements are True
True and True

True

In [28]:
#Evaluating and operators

#True and True = True
#True and False = False
#False and False = False

False

In [ ]:
#or operator

#True or True = True
#True or False = True
#False or False = False

In [30]:
#Assigning Boolean values to a variable

is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

#Equivalent to asking True and not False
#The not operator basically reverses a boolean value
#Which means this is equivalent to asking True and True
#Which is True

print(should_process_report)

#Evaluate the Boolean values

True

In [31]:
#Comparision operators

1 == 1

True

In [32]:
#Comparing two strings

'string' == 'string'

True

In [33]:
'string' == 'String'

False

In [34]:
#Checking inequality
#1 is NOT equal to 0
1 != 1

False

In [35]:
#Check if value is greater than another
#Is 1 greater than 0?
1 > 0

True

In [36]:
#Is 5 less than 4?
5 < 4

False

In [37]:
#Greater than or equal to AND Less than or equal to
#Is 5 greater than or equal to 5?
5 > 5

False

In [38]:
5 >= 5

True

In [39]:
17 <= 12

False

In [40]:
4 + 5 > 10 - 2

True

In [53]:
#Strings
#Manipulating the string

s = '   Hello, Codeup!   '

#lower() - Makes the string lowercase

s.lower()

'   hello, codeup!   '

In [45]:
#strip() - Removes excess spaces on either end of string, NOT inside of the string

s.strip()

'Hello, Codeup!'

In [46]:
#isdigit() - Checks if string is a digit
#Returns true if digit, False if not

s.isdigit()

False

In [52]:
#split() - Converts a string to a list, turns whole string into one entry in a list
#Can use multiple methods at once

s.strip().split(', ')

['Hello Codeup!']

In [54]:
#join() - Converts a list into a string
#
', '.join(['one', 'two', 'three'])

'one, two, three'

In [55]:
#Creating a list
#Enclosed in square brackets
#Every element of a list is separated by a comma

[1, 2, 3]

[1, 2, 3]

In [56]:
type([1, 2, 3])

list

In [57]:
#List with strings

['one', 'two', 'three']

['one', 'two', 'three']

In [59]:
#Assigning the list a variable

my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [60]:
#Lists can contain lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
#Creating lists with list comprehension

[n for n in range(10)]

#Python is 0 indexed, and thus starts at 0
#Does not include 10, since we started at 0 and returned 10 integers within the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
#Returns n 10 times, starting with 0 and multiplying each instance by 2

[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
#Checking if n % 2 is equal to zero 
#if statements takes n before multiplication, ie 1 / 2, 2 / 2, 3 /2, ect, and is only adding values
#to the list if the remainder is 0, which means the number (n) is false
#SO 
# n = 0 condition is True
# n = 1 condition False
# n = 2 condition True
# n = 3 condition False

[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]

In [17]:
#More list operations

numbers = [1, 2, 3]

In [19]:
#Append changes the variable by adding onto the end

numbers.append(4)
numbers

[1, 2, 3, 4, 4]

In [21]:
#Pop removes the last value

numbers.pop()
numbers

[1, 2, 3]

In [22]:
#len checks the length

len(numbers)

3

In [23]:
#Since Python is indexed at 0, asking for it to return whatever is in the 0 index is the first value

numbers[0]

1

In [24]:
#Again, since Python is 0 indexed asking for index 2, in this case, will return the last number
#Alternatively, if you want the last regardless of length you would use -1

numbers[2]

3

In [25]:
#Returns everything starting at index 0 up to but not including index 2

numbers[:2]

[1, 2]

In [26]:
#Returns everything starting at index 1 and up to but not including index 2

numbers[1:2]

[2]

In [28]:
#Returns everything starting at index 1 through the end of the list

numbers[1:]

[2, 3]

In [29]:
#Creating a list

list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
#Can assign to a variable as its created

my_numbers_list = list(range(10))

In [34]:
my_numbers_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
list('abcde')

['a', 'b', 'c', 'd', 'e']

In [31]:
list('acb d e e')

['a', 'c', 'b', ' ', 'd', ' ', 'e', ' ', 'e']

In [32]:
list(map(str, [1,2,3]))

#Broken down, this line took the list [1,2,3], converted the integers within into strings with the map(str())
#function, and then output it as a list

['1', '2', '3']

In [ ]:
#Formatting Strings

In [1]:
print('Here is a single quote --> \' <-- ')
#String is enclosed by double quotes
print("Here is a single quote --> ' <-- ")
print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so

This string
contains a newline

In [2]:
'''
This string
can contain
a lot of
text!
'''

'\nThis string\ncan contain\na lot of\ntext!\n'

In [13]:
# Store a string to a variable name
name = 'World'

In [14]:
#Formatting a string
#First way to accomplish same thing
'Hello, %s!' % name

'Hello, World!'

In [15]:
#Second way to accomplish same thing
'Hello, {}!'.format(name)

'Hello, World!'

In [16]:
#Third way to accomplish the same thing, easiest to use and read
#f standing for 'format' here

f'Hello {name}'

'Hello World'

In [ ]:
#String Operations

In [6]:
#Adding strings together with + concatenates them

'abc' + 'def'

'abcdef'

In [5]:
#Spaces count as characters

'abc ' + 'def'

'abc def'

In [7]:
'abc' == 'abc '

False

In [9]:
'abc' * 3

'abcabcabc'

In [10]:
'2' == 2

False

In [11]:
'2'+ 1

TypeError: can only concatenate str (not "int") to str

In [12]:
'2' + '1'

'21'

In [36]:
#Tuples 
#Immutable - length is fixed; used with parenthesis

(1, 'two', 3, 'four', 5, 'six', 'a', 'c', 'q')

(1, 'two', 3, 'four', 5, 'six', 'a', 'c', 'q')

In [38]:
my_tuple = (1, 2, 3)
my_tuple[1]

#Lists for elements of the same type\
#Tuples for different types

2

In [40]:
#Dictionaries
#Key : Value (key-value pairs)

{'name':'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

In [41]:
#Use the dict function

dict(name = 'Codeup', age =4)

{'name': 'Codeup', 'age': 4}

In [43]:
#Assigning the dictionary a name during creation with dict function

school = dict(name='Codeup', age=4)
school

{'name': 'Codeup', 'age': 4}

In [44]:
#Can pull the value associated with a key

school['name']

'Codeup'

In [45]:
school['age'] += 1

In [46]:
school

{'name': 'Codeup', 'age': 5}

# Markdown

In [ ]:
#Markdown - esc m enters markdown mode
# The # signifies a heading, with more # making the heading smaller
# **This is bold**

# Heading 1

## Heading 2

### Heading 3

#### Heading 4

**Bold**

# Data Types, Operators, and Variables Initial Exercises

Identify the data type of the following values:

In [47]:
type(99.9) #Float

float

In [48]:
type("False") #Str

str

In [49]:
type(False) #Bool

bool

In [50]:
type('0') #Str

str

In [51]:
type(0) #Int

int

In [52]:
type(True) #Bool

bool

In [53]:
type('True') #Str

str

In [54]:
type([{}]) #List

list

In [55]:
type({'a': []}) #Dict

dict

What data type would best represent:

A term or phrase typed into a search box?

It would be best to store this as a string

If a user is logged in?

Boolean, because they either are or are not logged in

A discount amount to apply to a user's shopping cart?

I would store it as an integer because a discount is usually a person, like 15% off

Whether or not a coupon code is valid?

Boolean, because its either valid or it's not

An email address typed into a registration form?

String would be best, because an email address can be any combination of characters

The price of a product?

For the price of a product, which usually includes decimals, a float would be best

A Matrix?

List

The email addresses collected from a registration form?

As above, an email address would work best as a string

Information about applicants to Codeup's data science program?

A dictionary seems to fit best, because you would have a key and value for each piece of information for each student

For each of the following code blocks, read the expression and predict what the result of evaluating it would be, then execute the expression in your Python REPL

In [56]:
'1' + 2

#It will cause an error since you can't add a string and int

TypeError: can only concatenate str (not "int") to str

In [57]:
6 % 4 

#It will return 2

2

In [58]:
type(6 % 4)

#It will return as int

int

In [59]:
type(type(6 % 4))

#it will return as type for for the type function

type

In [60]:
'3 + 4 is ' + 3 + 4

#It will error

TypeError: can only concatenate str (not "int") to str

In [61]:
0 < 0

#It will return False

False

In [62]:
'False' == False

#It will return False

False

In [63]:
True == 'True'

#Will return False

False

In [64]:
5 >= -5

#Will return true

True

In [65]:
True or "42"

#Will return true

True

In [66]:
6 % 5

#Will return 1

1

In [67]:
5 < 4 and 1 == 1

#Will return false since 5 is NOT less than 4

False

In [68]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

#False because python is case sensitive

False

In [69]:
4 >= 0 and 1 !== '1'

# !== is not a comparision operator and will return an error

SyntaxError: invalid syntax (1024461187.py, line 1)

In [70]:
6 % 3 == 0

#true

True

In [71]:
5 % 2 != 0

#true

True

In [72]:
[1] + 2

#will error out

TypeError: can only concatenate list (not "int") to list

In [73]:
[1] + [2]

#Will concat the two lists into one

[1, 2]

In [74]:
[1] * 2

#Will basically double the bumber of entries in the list

[1, 1]

In [75]:
[1] * [2]

#will error

TypeError: can't multiply sequence by non-int of type 'list'

In [76]:
[] + [] == []

#will return true

True

In [77]:
{} + {}

#will error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'