In [ ]:
#Good to remember keyboard shortcuts

# Enter - Creates a new line within the cell
# Shift + Enter - Runs the current cell
# Ctrl + S - Saves
# Esc + A - Inserts cell above current
# Esc + B - Inserts cell below current
# Esc + X - Cuts selected cell

In [ ]:
#Demo of type function

In [8]:
type(123)

int

In [9]:
type('hello')

str

In [4]:
type(True) #Or type(False)

bool

In [7]:
type(1.23)

float

In [ ]:
#Assigning a variable

In [10]:
favorite_number = 412
n = favorite_number + 5

In [12]:
#Printing the variable
print(favorite_number)

412

In [13]:
#Can use tab to autocomplete 
type(favorite_number)

int

In [14]:
x = 1
print(x)
x = x + 1
print(x)
x = x * 3 + x
print(x)

1
2
8

In [17]:
#Boolean Values
#True (with a caplital T)
#False (with a capital F)

#Checking equality
True == True

True

In [18]:
#Does True equal False?

True == False

False

In [19]:
#Checking Inequality

True != True

False

In [20]:
#Is True not equal to False

True != False

True

In [21]:
#not operator
#Takes the opposite boolean value

not False

True

In [24]:
#Apparently True
not not not not not not not not not not not not not not True

True

In [25]:
#and operator
#Equals True when both statements are True
True and True

True

In [28]:
#Evaluating and operators

#True and True = True
#True and False = False
#False and False = False

False

In [ ]:
#or operator

#True or True = True
#True or False = True
#False or False = False

In [30]:
#Assigning Boolean values to a variable

is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

#Equivalent to asking True and not False
#The not operator basically reverses a boolean value
#Which means this is equivalent to asking True and True
#Which is True

print(should_process_report)

#Evaluate the Boolean values

True

In [31]:
#Comparision operators

1 == 1

True

In [32]:
#Comparing two strings

'string' == 'string'

True

In [33]:
'string' == 'String'

False

In [34]:
#Checking inequality
#1 is NOT equal to 0
1 != 1

False

In [35]:
#Check if value is greater than another
#Is 1 greater than 0?
1 > 0

True

In [36]:
#Is 5 less than 4?
5 < 4

False

In [37]:
#Greater than or equal to AND Less than or equal to
#Is 5 greater than or equal to 5?
5 > 5

False

In [38]:
5 >= 5

True

In [39]:
17 <= 12

False

In [40]:
4 + 5 > 10 - 2

True

In [53]:
#Strings
#Manipulating the string

s = '   Hello, Codeup!   '

#lower() - Makes the string lowercase

s.lower()

'   hello, codeup!   '

In [45]:
#strip() - Removes excess spaces on either end of string, NOT inside of the string

s.strip()

'Hello, Codeup!'

In [46]:
#isdigit() - Checks if string is a digit
#Returns true if digit, False if not

s.isdigit()

False

In [52]:
#split() - Converts a string to a list, turns whole string into one entry in a list
#Can use multiple methods at once

s.strip().split(', ')

['Hello Codeup!']

In [54]:
#join() - Converts a list into a string
#
', '.join(['one', 'two', 'three'])

'one, two, three'

In [55]:
#Creating a list
#Enclosed in square brackets
#Every element of a list is separated by a comma

[1, 2, 3]

[1, 2, 3]

In [56]:
type([1, 2, 3])

list

In [57]:
#List with strings

['one', 'two', 'three']

['one', 'two', 'three']

In [59]:
#Assigning the list a variable

my_list = ['one', 'two', 'three']
print(my_list)

['one', 'two', 'three']

In [60]:
#Lists can contain lists

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [61]:
#Creating lists with list comprehension

[n for n in range(10)]

#Python is 0 indexed, and thus starts at 0
#Does not include 10, since we started at 0 and returned 10 integers within the list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
#Returns n 10 times, starting with 0 and multiplying each instance by 2

[n * 2 for n in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [63]:
#Checking if n % 2 is equal to zero 
#if statements takes n before multiplication, ie 1 / 2, 2 / 2, 3 /2, ect, and is only adding values
#to the list if the remainder is 0, which means the number (n) is false
#SO 
# n = 0 condition is True
# n = 1 condition False
# n = 2 condition True
# n = 3 condition False

[n * 2 for n in range(10) if n % 2 == 0]

[0, 4, 8, 12, 16]